Repository Statsify/statsify, changes with the labels that .github/labeler.yml gives for each.
All labels: api, discord-bot, scripts, site, @statsify/assets, @statsify/discord, @statsify/jsx, @statsify/logger, @statsify/math, @statsify/schemas, @statsify/util

.github/labeler.yml:

"api":
  - apps/api/**/*

"discord-bot":
  - apps/discord-bot/**/*

"scripts":
  - apps/scripts/**/*

"site":
  - apps/site/**/*

"@statsify/assets":
  - packages/assets/**/*

"@statsify/discord":
  - packages/discord/**/*

"@statsify/jsx":
  - packages/jsx/**/*

"@statsify/logger":
  - packages/logger/**/*

"@statsify/math":
  - packages/math/**/*

"@statsify/schemas":
  - packages/schemas/**/*

"@statsify/util":
  - packages/util/**/*

feat(scripts): add createenv script
  apps/scripts/package.json
  apps/scripts/src/createenv.js
Labels: scripts

feat(verify server): add verify server (#152)
  .env.schema
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/issue_labeler.yml
  .github/pr_labeler.yml
  .husky/commit-msg
  .husky/pre-commit
  .vscode/launch.json
  .vscode/settings.json
  apps/verify-server/package.json
  apps/verify-server/src/generate-code.ts
  apps/verify-server/src/index.ts
  apps/verify-server/src/module.d.ts
  apps/verify-server/tsconfig.eslint.json
  apps/verify-server/tsconfig.json
  package.json
  packages/assets/package.json
  packages/assets/src/index.ts
  packages/schemas/src/index.ts
  packages/schemas/src/metadata/field.options.ts
  packages/schemas/src/metadata/field/index.ts
  packages/schemas/src/verify-codes/index.ts
  packages/util/src/index.ts
  packages/util/tests/index.spec.ts
  tsconfig.base.json
  yarn.lock
Labels: @statsify/assets, @statsify/schemas, @statsify/util

feat(api): add `/api/user` and relevant methods
  apps/api/src/app.module.ts
  apps/api/src/dtos/historical-type.dto.ts
  apps/api/src/dtos/historical.dto.ts
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/user.dto.ts
  apps/api/src/dtos/verify-code.dto.ts
  apps/api/src/guild/guild.controller.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/hypixel-resources/hypixel-resources.controller.ts
  apps/api/src/player/leaderboards/player-leaderboard.controller.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/responses/get.user.response.ts
  apps/api/src/responses/index.ts
  apps/api/src/skin/skin.controller.ts
  apps/api/src/user/index.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.module.ts
  apps/api/src/user/user.service.ts
  packages/schemas/src/user/index.ts
Labels: api, @statsify/schemas

feat(api): add `/api/user` and relevant methods (#155)
  apps/api/src/app.module.ts
  apps/api/src/dtos/historical-type.dto.ts
  apps/api/src/dtos/historical.dto.ts
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/user.dto.ts
  apps/api/src/dtos/verify-code.dto.ts
  apps/api/src/guild/guild.controller.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/hypixel-resources/hypixel-resources.controller.ts
  apps/api/src/player/leaderboards/player-leaderboard.controller.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/responses/get.user.response.ts
  apps/api/src/responses/index.ts
  apps/api/src/skin/skin.controller.ts
  apps/api/src/user/index.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.module.ts
  apps/api/src/user/user.service.ts
  packages/schemas/src/user/index.ts
Labels: api, @statsify/schemas

fix: resolve requested changes
  .gitignore
  apps/scripts/package.json
  apps/scripts/src/create-env.js
  apps/scripts/src/createenv.js
Labels: scripts

feat(scripts): add create-env script (#154)
  .gitignore
  apps/scripts/package.json
  apps/scripts/src/create-env.js
Labels: scripts

fix(api): use http methods the way they are intended
  apps/api/src/user/user.controller.ts
Labels: api

feat(api-client): add all routes
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/index.ts
Labels: none

fix(api-client): throw descriptive errors
  packages/api-client/src/api.service.ts
Labels: none

feat(api service): make is so `getPlayer` can resolve multiple tags not just usernames and uuids
  apps/api/package.json
  apps/discord-bot/package.json
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/commands/example.command.tsx
  apps/discord-bot/src/services/api.service.ts
  apps/scripts/package.json
  apps/site/package.json
  package.json
  packages/api-client/package.json
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/index.ts
  packages/discord/package.json
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/command/command.context.ts
  packages/discord/src/interaction/interaction.ts
  yarn.lock
Labels: api, discord-bot, scripts, site, @statsify/discord

refactor(api): move enums required for requests to `@statsify/api-client`
  apps/api/src/dtos/guild.dto.ts
  apps/api/src/dtos/historical.dto.ts
  apps/api/src/guild/guild.service.ts
  apps/api/src/guild/index.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/historical/historical.service.ts
  apps/api/src/historical/index.ts
  apps/api/tests/guild.spec.ts
  apps/api/tests/historical.spec.ts
  packages/api-client/src/enums/guild-query.enum.ts
  packages/api-client/src/enums/historical-type.enum.ts
  packages/api-client/src/enums/hypixel-cache.enum.ts
  packages/api-client/src/enums/index.ts
  packages/api-client/src/index.ts
  turbo.json
Labels: api

fix(api): user http methods
  apps/api/src/user/user.controller.ts
Labels: api

feat(api client): add remaining routes
  packages/api-client/src/api.service.ts
Labels: none

chore(deps): Update all non-major dependencies
  .github/workflows/issue_labeler.yml
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  package.json
  packages/discord/package.json
  yarn.lock
Labels: api, discord-bot, scripts, site, @statsify/discord

chore(deps): update jest monorepo
  package.json
  yarn.lock
Labels: none

feat(api-client): make routes that respond with images use `loadImage` from `skia-canvas`
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/example.command.tsx
  apps/discord-bot/src/components/Header/Header.tsx
  apps/discord-bot/src/components/Header/SidebarHeader.tsx
  apps/discord-bot/src/components/Header/SidebarlessHeader.tsx
  apps/discord-bot/src/components/Skin.tsx
  packages/api-client/package.json
  packages/api-client/src/api.service.ts
  packages/jsx/package.json
  packages/jsx/src/components/Box.ts
  packages/jsx/src/components/Image.ts
  packages/jsx/src/font/font-renderer.ts
  packages/jsx/src/jsx/create-render.ts
  packages/jsx/src/jsx/types.ts
  yarn.lock
Labels: discord-bot, @statsify/jsx

feat(api-service): add error handling to friends and achievement routes
  apps/discord-bot/src/services/api.service.ts
  packages/api-client/src/api.service.ts
Labels: discord-bot
