Repository Statsify/statsify, pull requests merged in 2022-04, with the labels that each got.

#95 feat(cvc): rework data format for cvc
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
  packages/schemas/src/player/gamemodes/copsandcrims/mode.ts
Labels: 🛠️ enhancement

#125 feat(jsx): add more theming and style related features
  .github/labeler.yml
  .github/workflows/labeler.yml
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/example.command.tsx
  apps/discord-bot/src/components/Header/Header.tsx
  apps/discord-bot/src/components/Header/HeaderBody.tsx
  apps/discord-bot/src/components/Header/HeaderNametag.tsx
  apps/discord-bot/src/components/Header/SidebarHeader.tsx
  apps/discord-bot/src/components/Header/SidebarlessHeader.tsx
  apps/discord-bot/src/components/Header/index.tsx
  apps/discord-bot/src/components/Row.tsx
  apps/discord-bot/src/components/Sidebar.tsx
  apps/discord-bot/src/components/Skin.tsx
  apps/discord-bot/src/components/Table.tsx
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/services/font.service.ts
  packages/jsx/package.json
  packages/jsx/src/colors/index.ts
  packages/jsx/src/components/Box.ts
  packages/jsx/src/components/Box.tsx
  packages/jsx/src/components/Div.ts
  packages/jsx/src/components/Image.ts
  packages/jsx/src/components/Image.tsx
  packages/jsx/src/components/Text.ts
  packages/jsx/src/components/Text.tsx
  packages/jsx/src/components/index.ts
  packages/jsx/src/font/font-renderer.ts
  packages/jsx/src/index.ts
  packages/jsx/src/jsx/convert.ts
  packages/jsx/src/jsx/create-element.ts
  packages/jsx/src/jsx/create-instructions.ts
  packages/jsx/src/jsx/create-render.ts
  packages/jsx/src/jsx/index.ts
  packages/jsx/src/jsx/instrinsics.ts
  packages/jsx/src/jsx/types.ts
  yarn.lock
Labels: 🛠️ enhancement, discord-bot, @statsify/jsx

#155 feat(api): add `/api/user` and relevant methods
  apps/api/src/app.module.ts
  apps/api/src/dtos/historical-type.dto.ts
  apps/api/src/dtos/historical.dto.ts
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/user.dto.ts
  apps/api/src/dtos/verify-code.dto.ts
  apps/api/src/guild/guild.controller.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/hypixel-resources/hypixel-resources.controller.ts
  apps/api/src/player/leaderboards/player-leaderboard.controller.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/responses/get.user.response.ts
  apps/api/src/responses/index.ts
  apps/api/src/skin/skin.controller.ts
  apps/api/src/user/index.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.module.ts
  apps/api/src/user/user.service.ts
  packages/schemas/src/user/index.ts
Labels: api, @statsify/schemas

#154 feat(scripts): add create-env script
  .gitignore
  apps/scripts/package.json
  apps/scripts/src/create-env.js
Labels: scripts
