Repository Statsify/statsify, pull requests merged in 2022-06, with the labels that each got.

#199 feat(arcade): add arcade games command
  apps/discord-bot/src/commands/arcade/arcade-tables/blocking-dead.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/bounty-hunters.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/capture-the-wool.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/creeper-attack.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/dragon-wars.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/ender-spleef.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/farm-hunt.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/football.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/galaxy-wars.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/hide-and-seek.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/hole-in-the-wall.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/hypixel-says.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/index.ts
  apps/discord-bot/src/commands/arcade/arcade-tables/mini-walls.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/overall-arcade.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/party-games.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/pixel-painters.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/seasonal.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/throw-out.table.tsx
  apps/discord-bot/src/commands/arcade/arcade-tables/zombies.table.tsx
  apps/discord-bot/src/commands/arcade/arcade.command.tsx
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  locales/en-US/discord-bot/default.json
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Labels: discord-bot, @statsify/schemas

#198 feat(smashheroes): add smash heroes kits
  apps/api/src/hypixel/hypixel.service.ts
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.command.tsx
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/skywars/mode.ts
  packages/schemas/src/player/gamemodes/skywars/util.ts
  packages/schemas/src/player/gamemodes/smashheroes/index.ts
  packages/schemas/src/player/gamemodes/smashheroes/mode.ts
Labels: api, discord-bot, @statsify/schemas

#202 fix(assets): add functionality to public assets
  package.json
  packages/assets/src/index.ts
Labels: @statsify/assets

#207 feat(colors): change colors for profiles & remove old api stats
  apps/api/src/guild/guild.service.ts
  apps/api/src/player/player.service.ts
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/discord-bot/src/commands/arcade/tables/blocking-dead.table.tsx
  apps/discord-bot/src/commands/arcade/tables/bounty-hunters.table.tsx
  apps/discord-bot/src/commands/arcade/tables/capture-the-wool.table.tsx
  apps/discord-bot/src/commands/arcade/tables/ender-spleef.table.tsx
  apps/discord-bot/src/commands/arcade/tables/farm-hunt.table.tsx
  apps/discord-bot/src/commands/arcade/tables/football.table.tsx
  apps/discord-bot/src/commands/arcade/tables/galaxy-wars.table.tsx
  apps/discord-bot/src/commands/arcade/tables/hide-and-seek.table.tsx
  apps/discord-bot/src/commands/arcade/tables/hole-in-the-wall.table.tsx
  apps/discord-bot/src/commands/arcade/tables/hypixel-says.table.tsx
  apps/discord-bot/src/commands/arcade/tables/mini-walls.table.tsx
  apps/discord-bot/src/commands/arcade/tables/overall-arcade.table.tsx
  apps/discord-bot/src/commands/arcade/tables/party-games.table.tsx
  apps/discord-bot/src/commands/arcade/tables/seasonal.table.tsx
  apps/discord-bot/src/commands/arcade/tables/throw-out.table.tsx
  apps/discord-bot/src/commands/arcade/tables/zombies.table.tsx
  apps/discord-bot/src/commands/arenabrawl/arenabrawl.profile.tsx
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/buildbattle/buildbattle.profile.tsx
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
  apps/discord-bot/src/commands/duels/tables/bridge-duels.table.tsx
  apps/discord-bot/src/commands/megawalls/megawalls.profile.tsx
  apps/discord-bot/src/commands/paintball/paintball.profile.tsx
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/commands/turbokartracers/turbokartracers.profile.tsx
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  apps/discord-bot/src/commands/warlords/tables/classes.table.tsx
  apps/discord-bot/src/commands/warlords/warlords.profile.tsx
  apps/discord-bot/src/commands/woolwars/woolwars.profile.tsx
  apps/discord-bot/src/components/Sidebar.tsx
  locales/en-US/discord-bot/default.json
  packages/assets/src/index.ts
  packages/schemas/src/guild/member.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/arcade/seasonal-mode.ts
  packages/schemas/src/player/gamemodes/arenabrawl/mode.ts
  packages/schemas/src/player/gamemodes/bedwars/mode.ts
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/megawalls/index.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/gamemodes/paintball/perks.ts
  packages/schemas/src/player/gamemodes/quake/mode.ts
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
  packages/schemas/src/player/gamemodes/uhc/mode.ts
  packages/schemas/src/player/gamemodes/warlords/class.ts
  packages/schemas/src/player/gamemodes/woolwars/class.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
Labels: api, discord-bot, @statsify/assets, @statsify/schemas

#209 fix(ratios): fix ratios for historical
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
Labels: @statsify/schemas

#210 revert(deps): update dependency point-of-view to v6
  apps/api/package.json
  yarn.lock
Labels: api

#211 feat(commands): add historical commands
  apps/api/src/historical/historical.controller.ts
  apps/api/src/historical/historical.service.ts
  apps/api/tests/mocks/auth.mock.ts
  apps/api/tests/mocks/guild-leaderboard.mock.ts
  apps/api/tests/mocks/historical.mock.ts
  apps/api/tests/mocks/index.ts
  apps/api/tests/mocks/leaderboard.mock.ts
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/discord-bot/src/commands/arenabrawl/arenabrawl.profile.tsx
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/buildbattle/buildbattle.profile.tsx
  apps/discord-bot/src/commands/copsandcrims/copsandcrims.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/general/general.profile.tsx
  apps/discord-bot/src/commands/historical/daily.command.tsx
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/historical/lastDay.command.tsx
  apps/discord-bot/src/commands/historical/lastMonth.command.tsx
  apps/discord-bot/src/commands/historical/lastWeek.command.tsx
  apps/discord-bot/src/commands/historical/monthly.command.tsx
  apps/discord-bot/src/commands/historical/weekly.command.tsx
  apps/discord-bot/src/commands/historical/yesterday.command.tsx
  apps/discord-bot/src/commands/megawalls/megawalls.profile.tsx
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  apps/discord-bot/src/commands/paintball/paintball.profile.tsx
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  apps/discord-bot/src/commands/smashheroes/smashheroes.profile.tsx
  apps/discord-bot/src/commands/speeduhc/speeduhc.profile.tsx
  apps/discord-bot/src/commands/tntgames/tntgames.profile.tsx
  apps/discord-bot/src/commands/turbokartracers/turbokartracers.profile.tsx
  apps/discord-bot/src/commands/uhc/uhc.profile.tsx
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  apps/discord-bot/src/commands/walls/walls.profile.tsx
  apps/discord-bot/src/commands/warlords/warlords.profile.tsx
  apps/discord-bot/src/commands/woolwars/woolwars.profile.tsx
  apps/discord-bot/src/components/Header/Header.tsx
  apps/discord-bot/src/components/Header/HistoricalHeader.tsx
  apps/discord-bot/src/components/Header/progression.ts
  apps/discord-bot/src/components/HistoricalProgression.tsx
  apps/discord-bot/src/components/index.ts
  apps/discord-bot/src/constants.ts
  apps/discord-bot/src/services/api.service.ts
  locales/en-US/discord-bot/default.json
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/get.historical.response.ts
  packages/discord/src/command/command.builder.ts
  packages/discord/src/command/command.interface.ts
  packages/discord/src/command/subcommand.decorator.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/quake/mode.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/trophy.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
  packages/schemas/src/player/index.ts
Labels: api, discord-bot, @statsify/discord, @statsify/schemas, @statsify/api-client

#213 refactor(api): rename methods on API service
  apps/api/src/guild/guild.controller.ts
  apps/api/src/guild/guild.service.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/historical/historical.service.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
  apps/api/src/skin/skin.service.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.service.ts
  apps/api/tests/mocks/guild.mock.ts
  apps/api/tests/mocks/historical.mock.ts
  apps/api/tests/mocks/player.mock.ts
  apps/api/tests/mocks/skin.mock.ts
Labels: api

#218 feat(commands): add info commands
  apps/discord-bot/src/commands/info/help.command.ts
  apps/discord-bot/src/commands/info/invite.command.ts
  apps/discord-bot/src/commands/info/links.command.ts
  apps/discord-bot/src/commands/info/ping.command.ts
  locales/en-US/discord-bot/default.json
Labels: discord-bot

#219 fix(guild): rework guild searching to use a `guildId` field on the player
  apps/api/src/dtos/friend.dto.ts
  apps/api/src/dtos/index.ts
  apps/api/src/guild/guild.module.ts
  apps/api/src/guild/guild.service.ts
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/player/leaderboards/player-leaderboard.service.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
  apps/api/tests/mocks/player.mock.ts
  apps/api/tests/player.spec.ts
  apps/discord-bot/src/commands/general/general.command.tsx
  apps/discord-bot/src/services/api.service.ts
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/get.achievements.response.ts
  packages/api-client/src/responses/get.friends.response.ts
  packages/api-client/src/responses/index.ts
  packages/schemas/src/achievements/game.ts
  packages/schemas/src/achievements/iachievement.ts
  packages/schemas/src/achievements/index.ts
  packages/schemas/src/achievements/one-time-achievement.ts
  packages/schemas/src/achievements/tiered-achievement.ts
  packages/schemas/src/friends/friend.ts
  packages/schemas/src/friends/index.ts
  packages/schemas/src/guild/achievements.ts
  packages/schemas/src/guild/index.ts
  packages/schemas/src/guild/member.ts
  packages/schemas/src/index.ts
  packages/schemas/src/player/index.ts
Labels: api, discord-bot, @statsify/schemas, @statsify/api-client

#221 feat(leaderboards): add a redis limiting script
  apps/scripts/package.json
  apps/scripts/src/limit-redis.js
  locales/en-US/discord-bot/default.json
  packages/schemas/src/index.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/metadata/metadata.interface.ts
  packages/schemas/src/player/gamemodes/bedwars/mode.ts
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/megawalls/index.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
  packages/schemas/tests/metadata.spec.ts
Labels: scripts, @statsify/schemas

#222 fix(ranked skywars): fix ranked skywars by removing it
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
  apps/api/tests/mocks/hypixel.mock.ts
  apps/api/tests/mocks/player.mock.ts
  apps/api/tests/player.spec.ts
  apps/discord-bot/src/services/api.service.ts
  locales/en-US/discord-bot/default.json
  packages/api-client/src/api.service.ts
  packages/api-client/src/exceptions/index.ts
  packages/api-client/src/exceptions/ranked-skywars.404.ts
  packages/api-client/src/responses/get.rankedskywars.response.ts
  packages/api-client/src/responses/index.ts
  packages/schemas/src/index.ts
  packages/schemas/src/rankedskywars/index.ts
Labels: api, discord-bot, @statsify/schemas, @statsify/api-client

#223 feat(commands) add status, parkour, and gamecounts
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/resource.dto.ts
  apps/api/src/hypixel-resources/hypixel-resources.controller.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
  apps/discord-bot/src/commands/gamecounts.command.ts
  apps/discord-bot/src/commands/parkour.command.tsx
  apps/discord-bot/src/commands/status.command.tsx
  apps/discord-bot/src/services/paginate.service.ts
  locales/en-US/discord-bot/default.json
  locales/en-US/discord-bot/emojis.json
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/get.gameinfo.response.ts
  packages/api-client/src/responses/index.ts
  packages/discord/src/messages/components/select-menu.builder.ts
  packages/schemas/src/game.ts
  packages/schemas/src/gamecounts/index.ts
  packages/schemas/src/player/status.ts
  packages/schemas/src/status/index.ts
  packages/util/src/index.ts
Labels: api, discord-bot, @statsify/discord, @statsify/schemas, @statsify/util, @statsify/api-client

#230 fix(lint): disable broken unicorn rule
  .eslintrc
  packages/discord/src/messages/components/button.builder.ts
  packages/discord/src/messages/components/select-menu.builder.ts
Labels: @statsify/discord

#235 feat(watchdog): add the watchdog stat command
  apps/discord-bot/src/commands/watchdog.command.ts
Labels: discord-bot

#238 feat(api): remove get resource route
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/resource.dto.ts
  apps/api/src/hypixel-resources/hypixel-resources.controller.ts
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/get.gameinfo.response.ts
  packages/api-client/src/responses/index.ts
Labels: api, @statsify/api-client

#237 style(unused-imports): add eslint plugin to remove unused imports
  .eslintrc
  apps/api/src/index.ts
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  apps/discord-bot/src/commands/woolwars/woolwars.profile.tsx
  apps/discord-bot/src/index.ts
  package.json
  packages/discord/src/messages/localize.ts
  packages/schemas/src/game/game-modes.ts
  packages/schemas/src/guild/index.ts
  yarn.lock
Labels: api, discord-bot, @statsify/discord, @statsify/schemas

#241 refactor(imports): add new import paths to `discord-bot`
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/badge.command.tsx
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/guild/guild-top.subcommand.tsx
  apps/discord-bot/src/commands/guild/guild.command.tsx
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
  apps/discord-bot/src/commands/minecraft/cape.command.ts
  apps/discord-bot/src/commands/minecraft/server.command.tsx
  apps/discord-bot/src/commands/pit/pit.command.tsx
  apps/discord-bot/src/commands/recentgames/recentgames.command.tsx
  apps/discord-bot/src/commands/status/status.command.tsx
  apps/discord-bot/src/commands/unverify.command.ts
  apps/discord-bot/src/commands/verify.command.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/lib/command.listener.ts
  apps/discord-bot/src/lib/error.message.ts
  apps/discord-bot/src/services/api.service.ts
  apps/discord-bot/src/services/pit-panda.service.ts
  apps/discord-bot/tsconfig.json
Labels: discord-bot

#242 fix: command poster, pit backgrounds, & prettier recursion
  apps/discord-bot/src/commands/pit/pit.command.tsx
  apps/discord-bot/src/constants.ts
  packages/discord/src/arguments/abstract.argument.ts
  packages/discord/src/command/command.poster.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/src/util/parse-discord-error.ts
  packages/schemas/src/player/gamemodes/index.ts
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/util/src/index.ts
Labels: discord-bot, @statsify/discord, @statsify/schemas, @statsify/util

#243 feat(historical): add reset message and historical general profile
  .eslintrc
  apps/api/src/historical/historical.service.ts
  apps/api/src/player/player.service.ts
  apps/discord-bot/src/commands/general/general.profile.tsx
  apps/discord-bot/src/commands/general/historical-general.profile.tsx
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/constants.ts
  locales/en-US/discord-bot/default.json
  locales/en-US/discord-bot/emojis.json
  packages/rendering/src/hooks/loadImage.ts
Labels: api, discord-bot, @statsify/rendering

#245 feat(commands): add reset command
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/reset-player.dto.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/historical/historical.service.ts
  apps/discord-bot/src/commands/minecraft/text.command.tsx
  apps/discord-bot/src/commands/parkour/parkour.profile.tsx
  apps/discord-bot/src/commands/reset.command.ts
  apps/discord-bot/src/commands/test.command.ts
  locales/en-US/discord-bot/default.json
  packages/api-client/src/api.service.ts
  packages/rendering/src/font/font-renderer.ts
Labels: api, discord-bot, @statsify/rendering, @statsify/api-client

#248 feat(commands): add gtb helper command
  apps/discord-bot/src/commands/gtbhelper/find-solutions.ts
  apps/discord-bot/src/commands/gtbhelper/gtbhelpber.command.tsx
  apps/discord-bot/src/commands/gtbhelper/gtbhelper.argument.ts
  apps/discord-bot/src/commands/leaderboards/guild-leaderboard.argument.ts
  apps/discord-bot/src/commands/leaderboards/guild-leaderboard.subcommand.ts
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.argument.ts
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
  apps/discord-bot/src/commands/minecraft/server/server.argument.ts
  apps/discord-bot/src/commands/minecraft/server/server.command.tsx
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/words.json
  locales/en-US/discord-bot/default.json
  packages/discord/package.json
  packages/discord/src/arguments/index.ts
  yarn.lock
Labels: discord-bot, @statsify/discord

#249 feat(commands): add /socials to view a player's socials
  apps/discord-bot/src/commands/reset.command.ts
  apps/discord-bot/src/commands/socials/socials.command.ts
  locales/en-US/discord-bot/default.json
  locales/en-US/discord-bot/emojis.json
Labels: discord-bot

#250 fix(server): fix issue with server motds
  apps/discord-bot/src/commands/minecraft/server/server.command.tsx
Labels: discord-bot

#251 feat(sentry): add sentry to api, discord-bot and verify-server
  .env.schema
  apps/api/package.json
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/index.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/sentry/sentry.interceptor.ts
  apps/discord-bot/package.json
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/lib/command.listener.ts
  apps/verify-server/package.json
  apps/verify-server/src/index.ts
  packages/api-client/package.json
  packages/api-client/src/api.service.ts
  packages/discord/package.json
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/src/services/paginate.service.ts
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/rendering/package.json
  packages/rendering/src/hooks/loadImage.ts
  packages/rendering/src/jsx/render.ts
  packages/schemas/src/user/index.ts
  packages/util/src/env.ts
  yarn.lock
Labels: api, discord-bot, @statsify/discord, @statsify/rendering, @statsify/logger, @statsify/schemas, @statsify/util, verify-server, @statsify/api-client
