Repository Statsify/statsify, pull requests merged in 2022-07, with the labels that each got.

#263 feat(commands): add command usage
  apps/api/src/app.module.ts
  apps/api/src/commands/commands.controller.ts
  apps/api/src/commands/commands.module.ts
  apps/api/src/commands/commands.service.ts
  apps/api/src/commands/index.ts
  apps/api/src/dtos/command.dto.ts
  apps/api/src/dtos/index.ts
  apps/discord-bot/src/lib/command.listener.ts
  apps/support-bot/src/commands/commands.command.ts
  apps/support-bot/src/lib/command.listener.ts
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/get.command-usage.response.ts
  packages/api-client/src/responses/index.ts
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/command/command.decorator.ts
  packages/schemas/src/commands/index.ts
  packages/schemas/src/index.ts
Labels: api, discord-bot, @statsify/discord, @statsify/schemas, @statsify/api-client, support-bot

#264 fix(misc): change colors, fix tips
  apps/discord-bot/src/commands/arcade/tables/dragon-wars.table.tsx
  apps/discord-bot/src/commands/arcade/tables/football.table.tsx
  apps/discord-bot/src/commands/arcade/tables/hide-and-seek.table.tsx
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  apps/discord-bot/src/lib/command.listener.ts
  apps/discord-bot/src/tips.ts
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Labels: discord-bot, @statsify/schemas

#267 chore(deps): update dependencies
  .swcrc
  apps/api/package.json
  apps/api/src/app.controller.ts
  apps/api/src/index.ts
  apps/discord-bot/.swcrc
  apps/discord-bot/package.json
  apps/site/package.json
  apps/support-bot/.swcrc
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/rendering/.swcrc
  packages/rendering/package.json
  packages/schemas/package.json
  yarn.lock
Labels: api, discord-bot, site, @statsify/discord, @statsify/rendering, @statsify/logger, @statsify/schemas, verify-server, @statsify/api-client, support-bot

#269 fix(hero): make black box have blur
  apps/discord-bot/src/lib/command.listener.ts
  apps/site/components/Hero/hero.module.scss
  apps/site/components/Hero/index.tsx
Labels: discord-bot, site

#270 style(packages): sort things alphabetically
  packages/schemas/src/game/game.ts
  packages/schemas/src/gamecounts/index.ts
  packages/schemas/src/guild/expbygame.ts
  packages/schemas/src/index.ts
  packages/util/src/config.ts
Labels: @statsify/schemas, @statsify/util

#273 chore(pm2): add a pm2 config file
  apps/scripts/package.json
  apps/scripts/src/limit-redis.js
  pm2.config.js
Labels: scripts

#275 fix(historical): fix historical leveling and ratios
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/components/Header/HistoricalHeader.tsx
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/bedwars/util.ts
  packages/schemas/src/player/gamemodes/quake/mode.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
  packages/schemas/src/player/gamemodes/woolwars/util.ts
  packages/schemas/src/ratios.ts
Labels: discord-bot, @statsify/schemas

#280 ci(actions): add deploy action
  .github/workflows/deploy.yml
  apps/scripts/src/purge.js
Labels: scripts

#278 feat(api): add route to post players
  .github/workflows/deploy.yml
  .vscode/settings.json
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/update-player.dto.ts
  apps/api/src/index.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
  apps/scripts/package.json
  apps/scripts/src/limit-redis.js
  pm2.config.js
  yarn.lock
Labels: api, scripts

#283 fix(api): redoc relying on localhost:3000
  .github/workflows/deploy.yml
  apps/api/src/app.controller.ts
  apps/api/src/historical/historical.service.ts
Labels: api

#285 fix(errors): make unhandled rejections post to sentry
  .github/workflows/deploy.yml
  apps/api/src/index.ts
  apps/discord-bot/src/index.ts
  apps/support-bot/src/index.ts
  apps/verify-server/src/index.ts
  pm2.config.js
Labels: api, discord-bot, verify-server, support-bot

#289 fix(schemas): add better default values
  apps/scripts/src/build-watch.js
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/paintball/perks.ts
  packages/schemas/src/player/gamemodes/quake/mode.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/skywars/mode.ts
  packages/schemas/src/player/gamemodes/smashheroes/index.ts
  packages/schemas/src/player/gamemodes/speeduhc/index.ts
  packages/schemas/src/player/gamemodes/uhc/index.ts
  packages/schemas/src/progression.ts
  pm2.config.js
Labels: scripts, @statsify/schemas

#296 fix: historical stats, discord error parsing, and friends list
  apps/api/src/historical/historical.service.ts
  apps/support-bot/src/events/guild-member-remove.event.ts
  packages/discord/src/util/parse-discord-error.ts
  packages/schemas/src/friends/friend.ts
Labels: api, @statsify/discord, @statsify/schemas, support-bot

#297 fix: tag newlines, & spelling in user command
  apps/api/src/sentry/sentry.interceptor.ts
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/support-bot/src/commands/tags.command.ts
  apps/support-bot/src/commands/user.command.ts
  apps/support-bot/src/index.ts
  packages/api-client/src/api.service.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
Labels: api, discord-bot, @statsify/schemas, @statsify/api-client, support-bot

#299 feat(commands): add /bridge
  apps/discord-bot/src/commands/duels/bridge.command.tsx
  apps/discord-bot/src/commands/duels/bridge.profile.tsx
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/constants.ts
  locales/en-US/default.json
  packages/schemas/src/game/game.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
Labels: discord-bot, @statsify/schemas

#300 fix(bridge): add goals to the sidebar
  apps/discord-bot/src/commands/duels/bridge.profile.tsx
  packages/schemas/src/player/gamemodes/duels/mode.ts
Labels: discord-bot, @statsify/schemas

#298 feat(api): add a route to get a list of players
  apps/api/src/auth/auth.role.ts
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/player-group.dto.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
  apps/scripts/src/api-key.js
  apps/scripts/src/limit-redis.js
  apps/support-bot/src/events/guild-member-add.event.tsx
  apps/support-bot/src/events/guild-member-remove.event.ts
  apps/support-bot/src/events/guild-member-update.event.ts
  apps/support-bot/src/events/message-create.event.ts
  apps/support-bot/src/services/user.service.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/vampirez/index.ts
  packages/schemas/src/player/status.ts
Labels: api, scripts, @statsify/schemas, support-bot

#301 feat(arcade): add new arcade stats
  apps/discord-bot/src/commands/arcade/tables/hide-and-seek.table.tsx
  apps/discord-bot/src/commands/arcade/tables/hypixel-says.table.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/arcade/seasonal-mode.ts
Labels: discord-bot, @statsify/schemas

#304 fix(skywars): add the word stats to the skywars title
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Labels: discord-bot, @statsify/schemas

#305 feat: add historical sidebar and classic tokens
  apps/discord-bot/src/commands/arenabrawl/arenabrawl.profile.tsx
  apps/discord-bot/src/commands/buildbattle/buildbattle.profile.tsx
  apps/discord-bot/src/commands/megawalls/megawalls.command.tsx
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  apps/discord-bot/src/commands/paintball/paintball.profile.tsx
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/commands/speeduhc/speeduhc.profile.tsx
  apps/discord-bot/src/commands/turbokartracers/turbokartracers.profile.tsx
  apps/discord-bot/src/commands/uhc/uhc.profile.tsx
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  apps/discord-bot/src/commands/walls/walls.profile.tsx
  apps/discord-bot/src/components/Header/Header.tsx
  apps/discord-bot/src/components/Historical/Historical-Header.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/arenabrawl/index.ts
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/quake/index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/vampirez/index.ts
  packages/schemas/src/player/gamemodes/walls/index.ts
  packages/schemas/src/player/stats.ts
  packages/schemas/src/player/util.ts
Labels: discord-bot, @statsify/schemas

#306 fix: namemc link in player error message being malformed
  packages/discord/src/services/api.service.ts
Labels: @statsify/discord

#307 fix(support-bot): tickets deleting when member leaves the server
  apps/support-bot/src/commands/user.command.ts
  apps/support-bot/src/events/guild-member-remove.event.ts
  apps/support-bot/src/events/message-create.event.ts
  apps/support-bot/src/services/ticket.service.ts
Labels: support-bot

#309 feat(commands): ratios command to view milestones & estimations
  apps/discord-bot/src/commands/ratios/ratios.command.tsx
  apps/discord-bot/src/commands/ratios/ratios.profile.tsx
  apps/discord-bot/src/constants.ts
  apps/discord-bot/src/index.ts
  locales/en-US/default.json
  packages/schemas/src/ratios.ts
Labels: discord-bot, @statsify/schemas

#311 fix(embeds): escape underscores in player names
  apps/discord-bot/src/commands/minecraft/namehistory.command.ts
Labels: discord-bot

#310 feat(murdermystery): add more mode stats
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/murdermystery/murdermystery.command.tsx
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
Labels: discord-bot, @statsify/schemas

#312 fix(v0.2.0): fix bugs in v0.2.0 and add some LBs
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/commands/status/status.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/gamemodes/quake/mode.ts
  packages/schemas/src/ratios.ts
Labels: discord-bot, @statsify/schemas

#313 feat: add prefixes and level progression to more games
  apps/discord-bot/src/commands/arenabrawl/arenabrawl.profile.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/buildbattle/buildbattle.profile.tsx
  apps/discord-bot/src/commands/duels/bridge.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  apps/discord-bot/src/commands/paintball/paintball.profile.tsx
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  apps/discord-bot/src/commands/smashheroes/smashheroes.profile.tsx
  apps/discord-bot/src/commands/speeduhc/speeduhc.profile.tsx
  apps/discord-bot/src/commands/turbokartracers/turbokartracers.profile.tsx
  apps/discord-bot/src/commands/uhc/uhc.profile.tsx
  apps/discord-bot/src/commands/vampirez/vampirez.command.tsx
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  apps/discord-bot/src/commands/walls/walls.profile.tsx
  apps/discord-bot/src/commands/woolwars/woolwars.profile.tsx
  apps/discord-bot/src/components/Header/progression.ts
  apps/discord-bot/src/lib/command.listener.ts
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/arenabrawl/index.ts
  packages/schemas/src/player/gamemodes/blitzsg/index.ts
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
  packages/schemas/src/player/gamemodes/buildbattle/util.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/duels/util.ts
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/quake/index.ts
  packages/schemas/src/player/gamemodes/speeduhc/index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/uhc/index.ts
  packages/schemas/src/player/gamemodes/vampirez/index.ts
  packages/schemas/src/player/gamemodes/vampirez/life.ts
  packages/schemas/src/player/gamemodes/vampirez/prefixes.ts
  packages/schemas/src/player/gamemodes/walls/index.ts
  packages/schemas/src/player/stats.ts
  packages/schemas/src/ratios.ts
  packages/util/src/index.ts
Labels: discord-bot, @statsify/schemas, @statsify/util

#314 fix(prefixes): fix coloring of prefixes and some misc changes
  apps/discord-bot/src/commands/arenabrawl/arenabrawl.profile.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/buildbattle/buildbattle.profile.tsx
  apps/discord-bot/src/commands/duels/bridge.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  apps/discord-bot/src/commands/speeduhc/speeduhc.profile.tsx
  apps/discord-bot/src/commands/uhc/uhc.profile.tsx
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  apps/discord-bot/src/commands/woolwars/woolwars.profile.tsx
  apps/discord-bot/src/services/pit-panda.service.ts
  apps/support-bot/src/commands/commands.command.ts
  locales/en-US/default.json
  packages/rendering/src/font/font-renderer.ts
  packages/schemas/src/friends/friend.ts
  packages/schemas/src/player/gamemodes/blitzsg/index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/vampirez/life.ts
  packages/schemas/src/player/gamemodes/vampirez/prefixes.ts
  packages/schemas/src/player/gamemodes/walls/index.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
  packages/schemas/src/player/gamemodes/woolwars/util.ts
  packages/util/src/index.ts
Labels: discord-bot, @statsify/rendering, @statsify/schemas, @statsify/util, support-bot

#316 fix(duels): pvpless duels modes displaying kills in commands
  apps/discord-bot/src/commands/config/footer.sub-command-group.tsx
  apps/discord-bot/src/commands/duels/tables/multi-duels-game-mode.table.tsx
  apps/discord-bot/src/commands/duels/tables/single-duels-game-mode.table.tsx
  apps/discord-bot/src/commands/duels/tables/uhc-duels.table.tsx
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
Labels: discord-bot, @statsify/schemas

#317 fix(vampirez): fix Vampire prefixes and kill leaderboards
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  locales/en-US/default.json
  packages/rendering/src/font/font-renderer.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/vampirez/index.ts
  packages/schemas/src/player/gamemodes/vampirez/life.ts
Labels: discord-bot, @statsify/rendering, @statsify/schemas

#318 fix(vampirez): flip flop human and vampire kills
  apps/discord-bot/src/commands/config/theme.command.tsx
  apps/discord-bot/src/themes/index.ts
  apps/discord-bot/src/themes/palette.ts
  packages/schemas/src/player/gamemodes/vampirez/life.ts
  packages/schemas/src/user/theme.ts
Labels: discord-bot, @statsify/schemas

#319 fix(leaderboards): input searching being off by 1 position
  apps/api/src/leaderboards/leaderboard.service.ts
  pm2.config.js
Labels: api

#321 feat(commands): add rankings command
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/discord-bot/src/commands/leaderboards/leaderboard.profile.tsx
  apps/discord-bot/src/commands/rankings/games.ts
  apps/discord-bot/src/commands/rankings/positions.command.tsx
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  apps/discord-bot/src/commands/rankings/rankings.profile.tsx
  apps/discord-bot/src/lib/format-position.ts
  locales/en-US/default.json
  packages/api-client/src/responses/post.rankings.response.ts
  packages/discord/src/services/paginate.service.ts
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/vampirez/prefixes.ts
Labels: api, discord-bot, @statsify/discord, @statsify/schemas, @statsify/api-client

#322 feat(rankings): make /rankings use subcommands instead of game option
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  apps/discord-bot/src/commands/rankings/rankings.profile.tsx
  locales/en-US/default.json
Labels: discord-bot

#323 fix(rankings): if your above the lb limit it won't show
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  apps/discord-bot/src/commands/rankings/rankings.profile.tsx
  apps/scripts/src/limit-redis.js
  packages/schemas/src/guild/member.ts
  packages/schemas/src/player/gamemodes/bedwars/mode.ts
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/speeduhc/index.ts
Labels: api, discord-bot, scripts, @statsify/schemas

#326 fix(prefixes): change some prefix colors & refactor the system
  apps/discord-bot/src/commands/arenabrawl/arenabrawl.profile.tsx
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/buildbattle/buildbattle.profile.tsx
  apps/discord-bot/src/commands/duels/bridge.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/events/events.profile.tsx
  apps/discord-bot/src/commands/paintball/paintball.profile.tsx
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/commands/turbokartracers/turbokartracers.profile.tsx
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  apps/discord-bot/src/commands/walls/walls.profile.tsx
  apps/discord-bot/src/components/Header/progression.ts
  packages/schemas/src/player/gamemodes/arenabrawl/index.ts
  packages/schemas/src/player/gamemodes/blitzsg/index.ts
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
  packages/schemas/src/player/gamemodes/buildbattle/util.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/duels/util.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/prefixes.ts
  packages/schemas/src/player/gamemodes/quake/index.ts
  packages/schemas/src/player/gamemodes/speeduhc/index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/uhc/index.ts
  packages/schemas/src/player/gamemodes/vampirez/life.ts
  packages/schemas/src/player/gamemodes/vampirez/prefixes.ts
  packages/schemas/src/player/gamemodes/walls/index.ts
  packages/util/src/index.ts
Labels: discord-bot, @statsify/schemas, @statsify/util

#329 feat(autocomplete): add player autocomplete
  README.md
  apps/api/src/dtos/index.ts
  apps/api/src/dtos/player-search.dto.ts
  apps/api/src/player/player.module.ts
  apps/api/src/player/player.service.ts
  apps/api/src/player/search/player-search.controller.ts
  apps/api/src/player/search/player-search.service.ts
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/get.player-search.response.ts
  packages/api-client/src/responses/index.ts
  packages/discord/src/arguments/abstract.argument.ts
  packages/discord/src/arguments/player.argument.ts
  packages/discord/src/command/abstract-command.listener.ts
Labels: api, @statsify/discord, @statsify/api-client

#330 fix(vampirez): fix vampirez prefixes once again
  apps/discord-bot/src/commands/arcade/tables/ender-spleef.table.tsx
  apps/discord-bot/src/commands/tntgames/tntgames.profile.tsx
  apps/discord-bot/src/commands/woolwars/woolwars.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
  packages/schemas/src/player/gamemodes/vampirez/prefixes.ts
Labels: discord-bot, @statsify/schemas

#331 feat(pit): Add leaderboards, rankings, and readd progression bar.
  apps/discord-bot/src/commands/events/events.profile.tsx
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  apps/discord-bot/src/commands/pit/pit.command.tsx
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  apps/discord-bot/src/commands/rankings/rankings.command.tsx
  apps/discord-bot/src/commands/rankings/rankings.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/game/game.ts
  packages/schemas/src/guild/index.ts
  packages/schemas/src/player/gamemodes/general/events.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/general/util.ts
  packages/schemas/src/player/gamemodes/index.ts
  packages/schemas/src/player/gamemodes/megawalls/index.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/schemas/src/player/gamemodes/pit/util.ts
  packages/schemas/src/player/stats.ts
Labels: discord-bot, @statsify/schemas

#332 feat(commands): add language command and dutch translations
  apps/api/src/dtos/user.dto.ts
  apps/discord-bot/src/commands/config/language.command.tsx
  apps/discord-bot/src/commands/guild/guild-top.subcommand.tsx
  apps/discord-bot/src/commands/leaderboards/base.leaderboard-command.tsx
  apps/discord-bot/src/commands/reset.command.ts
  locales/en-US/default.json
  locales/nl/default.json
  packages/api-client/src/api.service.ts
  packages/discord/src/command/command.context.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/src/services/i18n-loader.service.ts
  packages/discord/src/services/paginate.service.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/user/index.ts
Labels: api, discord-bot, @statsify/discord, @statsify/schemas, @statsify/api-client
