Repository Statsify/statsify, pull requests merged in 2022-08, with the labels that each got.

#338 fix(support-bot): correctly distrubte premium tiers
  apps/support-bot/src/events/guild-member-remove.event.ts
  apps/support-bot/src/events/guild-member-update.event.ts
  apps/support-bot/src/services/user.service.ts
Labels: support-bot

#339 feat(ping): add translators to the ping command
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/config/language.command.tsx
  apps/discord-bot/src/commands/info/ping.command.ts
  locales/cs/default.json
  locales/en-US/default.json
  packages/api-client/src/api.service.ts
  packages/discord/src/interaction/interaction.ts
  packages/schemas/src/user/index.ts
Labels: discord-bot, @statsify/discord, @statsify/schemas, @statsify/api-client

#340 chore(i18n): update crowdin translation
  apps/discord-bot/src/commands/config/language.command.tsx
  crowdin.yml
  locales/nl/default.json
Labels: discord-bot

#341 chore(i18n): update crowdin translation
  apps/discord-bot/src/services/index.ts
  apps/discord-bot/src/services/pit-panda.service.ts
  crowdin.yml
  locales/bg/default.json
  locales/cs/default.json
  locales/da/default.json
  locales/de/default.json
  locales/el/default.json
  locales/es-ES/default.json
  locales/fi/default.json
  locales/fr/default.json
  locales/hi/default.json
  locales/hr/default.json
  locales/hu/default.json
  locales/it/default.json
  locales/ja/default.json
  locales/ko/default.json
  locales/lt/default.json
  locales/nl/default.json
  locales/no/default.json
  locales/pl/default.json
  locales/pt-BR/default.json
  locales/ro/default.json
  locales/ru/default.json
  locales/sv-SE/default.json
  locales/th/default.json
  locales/tr/default.json
  locales/uk/default.json
  locales/vi/default.json
  locales/zh-CN/default.json
  packages/discord/src/arguments/player.argument.ts
Labels: discord-bot, @statsify/discord

#342 chore(i18n): update crowdin translation
  apps/discord-bot/src/commands/info/ping.command.ts
  locales/fr/default.json
Labels: discord-bot

#344 fix(ping): add new translators
  apps/discord-bot/src/commands/info/ping.command.ts
Labels: discord-bot

#346 fix(i18n): add translations for progressions
  apps/discord-bot/src/commands/arenabrawl/arenabrawl.profile.tsx
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/buildbattle/buildbattle.profile.tsx
  apps/discord-bot/src/commands/duels/bridge.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/events/events.profile.tsx
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/paintball/paintball.profile.tsx
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  apps/discord-bot/src/commands/quake/quake.profile.tsx
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  apps/discord-bot/src/commands/speeduhc/speeduhc.profile.tsx
  apps/discord-bot/src/commands/tntgames/tntgames.profile.tsx
  apps/discord-bot/src/commands/turbokartracers/turbokartracers.profile.tsx
  apps/discord-bot/src/commands/uhc/uhc.profile.tsx
  apps/discord-bot/src/commands/vampirez/vampirez.profile.tsx
  apps/discord-bot/src/commands/walls/walls.profile.tsx
  apps/discord-bot/src/commands/woolwars/woolwars.profile.tsx
  apps/discord-bot/src/components/Header/progression.ts
  locales/en-US/default.json
  locales/fr/default.json
  packages/schemas/src/guild/util.ts
Labels: discord-bot, @statsify/schemas

#350 feat(i18n): add translators to /ping & languages to /language
  apps/discord-bot/src/commands/config/language.command.tsx
  apps/discord-bot/src/commands/info/ping.command.ts
  apps/site/components/About/index.tsx
  locales/bg/default.json
  locales/en-US/emojis.json
  locales/zh-TW /default.json
  packages/discord/src/arguments/player.argument.ts
  packages/schemas/src/player/gamemodes/tntgames/index.ts
  packages/schemas/src/player/stats.ts
Labels: discord-bot, site, @statsify/discord, @statsify/schemas

#352 fix(challenges): fix MegaWalls & MurderMystery
  packages/schemas/src/metadata/metadata-scanner.ts
  packages/schemas/src/player/gamemodes/general/challenges/index.ts
Labels: @statsify/schemas

#353 feat(historical): add historical pit stats
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/pit/pit.profile.tsx
  packages/schemas/src/player/gamemodes/pit/index.ts
Labels: discord-bot, @statsify/schemas

#354 fix(buildbattle): remove repeating BB correct guesses
  packages/schemas/src/player/gamemodes/buildbattle/mode.ts
Labels: @statsify/schemas

#358 fix(challenges): rename challenges leaderboard
  apps/discord-bot/src/components/Header/progression.ts
  packages/schemas/src/player/gamemodes/general/challenges/index.ts
Labels: discord-bot, @statsify/schemas

#361 feat(support): add /topreset to view the most common reset times
  apps/api/src/historical/historical.controller.ts
  apps/api/src/historical/historical.service.ts
  apps/support-bot/src/commands/top-reset.command.ts
  locales/en-US/default.json
  packages/api-client/src/api.service.ts
  packages/api-client/src/responses/get.historical-times.response.ts
  packages/schemas/src/user/index.ts
Labels: api, @statsify/schemas, @statsify/api-client, support-bot

#370 feat(skywars): remove shards & update parkour for SkyWars update
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  apps/scripts/package.json
  apps/support-bot/package.json
  locales/en-US/default.json
  packages/assets/package.json
  packages/rendering/package.json
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/parkour/index.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/skywars/util.ts
  packages/schemas/src/player/stats.ts
  yarn.lock
Labels: discord-bot, scripts, @statsify/assets, @statsify/rendering, @statsify/schemas, support-bot

#373 feat(stats): add rewards and tournament tokens lbs
  packages/schemas/src/player/gamemodes/general/index.ts
Labels: @statsify/schemas

#375 fix(murdermystery): use correct survivor win stat
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
Labels: @statsify/schemas

#374 fix(support-bot): removed % and total times from /topreset
  apps/support-bot/src/commands/top-reset.command.ts
Labels: support-bot

#372 feat(i18n): use context for types
  locales/en-US/default.json
  packages/discord/src/services/api.service.ts
Labels: @statsify/discord

#376 fix(boxes): fix themed boxes not making copies of border before mutating
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/font/font-renderer.ts
Labels: discord-bot, @statsify/rendering

#378 fix(discord): use rest api to defer command interactions earlier
  apps/discord-bot/src/lib/command.listener.ts
  apps/support-bot/src/lib/command.listener.ts
  packages/discord/src/command/abstract-command.listener.ts
Labels: discord-bot, @statsify/discord, support-bot

#381 feat(site): add translate redirect
  apps/site/next.config.js
Labels: site

#384 fix(challenges): correctly calculate total challenges
  packages/schemas/src/player/gamemodes/challenges/index.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/stats.ts
Labels: @statsify/schemas

#385 feat(leaderboards): add many additional fields
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/blitzsg/index.ts
  packages/schemas/src/player/gamemodes/copsandcrims/mode.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/general/index.ts
  packages/schemas/src/player/gamemodes/general/util.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/woolwars/class.ts
Labels: @statsify/schemas

#386 fix(paintball): prefix color for 75,000 kills
  packages/schemas/src/player/gamemodes/paintball/index.ts
Labels: @statsify/schemas

#388 fix(boxes): make different theme boxes use the correct colors
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/components/Box.ts
Labels: discord-bot, @statsify/rendering

#390 fix(quests): remove the "win a deathmatch" quest from cvc
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/components/Box.ts
  packages/schemas/src/player/gamemodes/quests/modes/cops-and-crims.ts
Labels: discord-bot, @statsify/rendering, @statsify/schemas

#391 fix(murdermystery): remove infection wins and best time
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
Labels: discord-bot, @statsify/schemas

#392 feat(languages): add new languages to /language and /ping
  apps/discord-bot/src/commands/config/language.command.tsx
  apps/discord-bot/src/commands/info/ping.command.ts
Labels: discord-bot

#398 fix: misc issues from v0.9.0
  apps/api/src/historical/historical.service.ts
  apps/discord-bot/src/tips.ts
  packages/schemas/src/player/gamemodes/challenges/index.ts
  packages/schemas/src/util/leaderboard-scanner.ts
  pm2.config.js
Labels: api, discord-bot, @statsify/schemas

#401 fix(rankings): error when running `/rankings`
  packages/schemas/src/util/leaderboard-scanner.ts
Labels: @statsify/schemas

#404 fix(leaderboards): leaderboard expire times
  apps/api/src/leaderboards/leaderboard.service.ts
Labels: api
