Repository Statsify/statsify, pull requests merged in 2022-05, with the labels that each got.

#161 feat(discord-bot): add basic command arguments
  apps/discord-bot/src/arguments/choice.argument.ts
  apps/discord-bot/src/arguments/guild.argument.ts
  apps/discord-bot/src/arguments/index.ts
  apps/discord-bot/src/arguments/mojang-player.argument.ts
  apps/discord-bot/src/arguments/number.argument.ts
  apps/discord-bot/src/arguments/player-leaderboard.argument.ts
  apps/discord-bot/src/arguments/player.argument.ts
  apps/discord-bot/src/arguments/text.argument.ts
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/commands/guild.command.ts
  apps/discord-bot/src/commands/profile.command.tsx
  packages/discord/src/arguments/abstract.argument.ts
  packages/discord/src/arguments/argument.interface.ts
  packages/discord/src/arguments/index.ts
  packages/discord/src/command/command.builder.ts
  packages/discord/src/command/command.context.ts
  packages/discord/src/command/command.interface.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/tests/command.builder.spec.ts
  packages/schemas/src/util/leaderboard-scanner.ts
Labels: discord-bot, @statsify/discord, @statsify/schemas

#164 feat(scripts): add script to create rank emojis
  .env.schema
  apps/discord-bot/emojis.json
  apps/scripts/package.json
  apps/scripts/src/rank-emojis.js
  packages/schemas/src/index.ts
  packages/schemas/src/player/util.ts
  yarn.lock
Labels: discord-bot, scripts, @statsify/schemas

#165 feat(woolwars): add woolwars stats
  .vscode/launch.json
  packages/schemas/src/achievements/index.ts
  packages/schemas/src/game.ts
  packages/schemas/src/gamecounts/index.ts
  packages/schemas/src/guild/expbygame.ts
  packages/schemas/src/player/gamemodes/parkour/index.ts
  packages/schemas/src/player/gamemodes/woolwars/class.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
  packages/schemas/src/player/gamemodes/woolwars/util.ts
  packages/schemas/src/player/stats.ts
Labels: @statsify/schemas

#172 feat(schema): add more stats and disable some leaderboards
  .eslintrc
  apps/api/src/guild/guild.service.ts
  apps/discord-bot/src/profiles/skywars.profile.tsx
  packages/assets/src/index.ts
  packages/math/src/index.ts
  packages/math/tests/index.spec.ts
  packages/schemas/src/guild/achievements.ts
  packages/schemas/src/metadata/deserialize.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/arcade/seasonal-mode.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/bedwars/mode.ts
  packages/schemas/src/player/gamemodes/bedwars/util.ts
  packages/schemas/src/player/gamemodes/blitzsg/kit.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
  packages/schemas/src/player/gamemodes/general/util.ts
  packages/schemas/src/player/gamemodes/murdermystery/mode.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/quake/index.ts
  packages/schemas/src/player/gamemodes/quake/mode.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/skywars/mode.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/trophy.ts
  packages/schemas/src/player/gamemodes/uhc/index.ts
  packages/schemas/src/player/gamemodes/woolwars/class.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
  packages/schemas/src/progression.ts
Labels: api, discord-bot, @statsify/assets, @statsify/math, @statsify/schemas

#178 feat(rendering): add `remaining` unit for jsx
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/issue_labeler.yml
  .github/pr_labeler.yml
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/bedwars.command.tsx
  apps/discord-bot/src/commands/multi.command.tsx
  apps/discord-bot/src/commands/skywars.command.tsx
  apps/discord-bot/src/components/Background.tsx
  apps/discord-bot/src/components/Container.tsx
  apps/discord-bot/src/components/Header/Header.tsx
  apps/discord-bot/src/components/Header/HeaderBody.tsx
  apps/discord-bot/src/components/Header/HeaderNametag.tsx
  apps/discord-bot/src/components/Header/SidebarHeader.tsx
  apps/discord-bot/src/components/Header/SidebarlessHeader.tsx
  apps/discord-bot/src/components/If.tsx
  apps/discord-bot/src/components/Sidebar.tsx
  apps/discord-bot/src/components/Skin.tsx
  apps/discord-bot/src/components/Table/Table.tsx
  apps/discord-bot/src/components/Table/TableData.tsx
  apps/discord-bot/src/components/Table/TableRow.tsx
  apps/discord-bot/src/components/Table/TableSeparator.tsx
  apps/discord-bot/src/components/index.ts
  apps/discord-bot/src/profiles/bedwars.profile.tsx
  apps/discord-bot/src/profiles/skywars.profile.tsx
  apps/discord-bot/src/services/font.service.ts
  apps/scripts/package.json
  apps/scripts/src/rank-emojis.js
  packages/jsx/src/hooks/useComponentSize.ts
  packages/jsx/src/jsx/create-instructions.ts
  packages/jsx/src/jsx/util.ts
  packages/rendering/.swcrc
  packages/rendering/jest.config.js
  packages/rendering/package.json
  packages/rendering/positions.json
  packages/rendering/sizes.json
  packages/rendering/src/colors/index.ts
  packages/rendering/src/components/Box.ts
  packages/rendering/src/components/Div.ts
  packages/rendering/src/components/Image.ts
  packages/rendering/src/components/Text.ts
  packages/rendering/src/components/index.ts
  packages/rendering/src/font/font-renderer.ts
  packages/rendering/src/font/index.ts
  packages/rendering/src/font/tokens.ts
  packages/rendering/src/hooks/index.ts
  packages/rendering/src/hooks/useChildren.ts
  packages/rendering/src/hooks/useComponentSize.ts
  packages/rendering/src/index.ts
  packages/rendering/src/jsx/convert.ts
  packages/rendering/src/jsx/create-element.ts
  packages/rendering/src/jsx/create-instructions.ts
  packages/rendering/src/jsx/index.ts
  packages/rendering/src/jsx/instrinsics.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/types.ts
  packages/rendering/src/jsx/util.ts
  packages/rendering/tests/index.spec.ts
  packages/rendering/tsconfig.json
  yarn.lock
Labels: discord-bot, scripts, @statsify/rendering, @statsify/jsx

#181 feat(leaderboards): add ASC sort for lb & points for MW kits
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/player/leaderboards/player-leaderboard.service.ts
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
Labels: api, @statsify/schemas

#185 feat: add cooldowns
  .env.schema
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/module.d.ts
  locales/en-US/discord-bot/default.json
  packages/discord/src/command/command.interface.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/src/messages/error.message.ts
  packages/schemas/src/user/index.ts
Labels: discord-bot, @statsify/discord, @statsify/schemas

#188 feat(pagination): add labeled pagination
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/bedwars.command.tsx
  apps/discord-bot/src/commands/language.command.ts
  apps/discord-bot/src/commands/skywars.command.tsx
  apps/discord-bot/src/profiles/bedwars.profile.tsx
  apps/discord-bot/src/profiles/skywars.profile.tsx
  apps/discord-bot/src/services/paginate.service.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/src/messages/components/action-row.builder.ts
  packages/discord/src/messages/components/index.ts
  packages/discord/src/messages/components/select-menu.builder.ts
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arenabrawl/index.ts
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/blitzsg/index.ts
  packages/schemas/src/player/gamemodes/buildbattle/index.ts
  packages/schemas/src/player/gamemodes/copsandcrims/index.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/megawalls/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/paintball/index.ts
  packages/schemas/src/player/gamemodes/quake/index.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/schemas/src/player/gamemodes/smashheroes/index.ts
  packages/schemas/src/player/gamemodes/speeduhc/index.ts
  packages/schemas/src/player/gamemodes/tntgames/index.ts
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
  packages/schemas/src/player/gamemodes/uhc/index.ts
  packages/schemas/src/player/gamemodes/vampirez/index.ts
  packages/schemas/src/player/gamemodes/walls/index.ts
  packages/schemas/src/player/gamemodes/warlords/index.ts
  packages/schemas/src/player/gamemodes/woolwars/index.ts
Labels: discord-bot, @statsify/discord, @statsify/schemas

#189 feat(verification): add verify and unverify as commands
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/src/leaderboards/mongo-leaderboard.service.ts
  apps/discord-bot/package.json
  apps/discord-bot/src/arguments/text.argument.ts
  apps/discord-bot/src/command.listener.ts
  apps/discord-bot/src/commands/unverify.command.ts
  apps/discord-bot/src/commands/verify.command.ts
  apps/discord-bot/src/constants.ts
  apps/discord-bot/src/error.message.ts
  apps/discord-bot/src/services/api.service.ts
  apps/discord-bot/tsconfig.json
  apps/scripts/package.json
  apps/site/package.json
  locales/en-US/discord-bot/default.json
  package.json
  packages/api-client/src/api.service.ts
  packages/discord/package.json
  packages/discord/src/messages/error.message.ts
  packages/discord/src/messages/index.ts
  packages/schemas/package.json
  packages/schemas/src/metadata/deserialize.ts
  yarn.lock
Labels: api, discord-bot, scripts, site, @statsify/discord, @statsify/schemas, @statsify/api-client

#190 fix(verification): verification code is a range
  apps/discord-bot/src/commands/verify.command.ts
Labels: discord-bot

#191 feat(bedwars): add winstreak to sidebar stats
  apps/discord-bot/src/commands/bedwars.command.tsx
  apps/discord-bot/src/components/Header/HeaderBody.tsx
  apps/discord-bot/src/profiles/bedwars.profile.tsx
  locales/en-US/discord-bot/default.json
Labels: discord-bot

#192 feat(discord-bot): add rank emojis & localization to api service
  apps/discord-bot/src/commands/test.command.ts
  apps/discord-bot/src/commands/verify.command.ts
  apps/discord-bot/src/components/Header/progression.ts
  apps/discord-bot/src/services/api.service.ts
  apps/discord-bot/src/services/i18next.service.ts
  locales/en-US/discord-bot/default.json
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/bedwars/util.ts
Labels: discord-bot, @statsify/schemas

#193 feat(pagination): add scrolling pagination for commands like friends or recent games
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/test.command.ts
  apps/discord-bot/src/services/paginate.service.ts
  packages/discord/src/messages/components/action-row.builder.ts
Labels: discord-bot, @statsify/discord

#194 feat(discord-bot): command and argument localization
  apps/discord-bot/package.json
  apps/discord-bot/src/arguments/choice.argument.ts
  apps/discord-bot/src/arguments/guild.argument.ts
  apps/discord-bot/src/arguments/mojang-player.argument.ts
  apps/discord-bot/src/arguments/number.argument.ts
  apps/discord-bot/src/arguments/player-leaderboard.argument.ts
  apps/discord-bot/src/arguments/player.argument.ts
  apps/discord-bot/src/arguments/text.argument.ts
  apps/discord-bot/src/commands/bedwars.command.tsx
  apps/discord-bot/src/commands/skywars.command.tsx
  apps/discord-bot/src/commands/unverify.command.ts
  apps/discord-bot/src/commands/verify.command.ts
  apps/discord-bot/src/index.ts
  apps/discord-bot/src/services/font.-loader.service.ts
  apps/discord-bot/src/services/i18n-loader.service.ts
  apps/discord-bot/src/services/index.ts
  locales/en-US/discord-bot/default.json
  locales/fr/discord-bot/default.json
  packages/discord/src/arguments/abstract.argument.ts
  packages/discord/src/command/command.decorator.ts
  packages/discord/src/command/command.interface.ts
  packages/discord/src/command/command.resolvable.ts
  packages/discord/src/command/subcommand.decorator.ts
  packages/discord/src/messages/localize.ts
  packages/discord/tests/command.builder.spec.ts
Labels: discord-bot, @statsify/discord
