Repository Statsify/statsify, pull requests merged in 2022-12, with the labels that each got.

#454 feat(events): add christmas event stats
  apps/discord-bot/src/commands/events/events.profile.tsx
  packages/schemas/src/player/gamemodes/general/events.ts
Labels: discord-bot, @statsify/schemas

#455 fix(smashheroes): kit names
  packages/schemas/src/player/gamemodes/smashheroes/index.ts
Labels: @statsify/schemas

#461 chore(deps): update all minor dependencies
  .eslintrc
  .github/workflows/ci.yml
  apps/api/package.json
  apps/api/src/historical/historical.service.ts
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/tests/mocks/index.ts
  apps/discord-bot/package.json
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/challenges/challenges.profile.tsx
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/minecraft/available.command.ts
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/commands/rankings/rankings.profile.tsx
  apps/discord-bot/src/commands/warlords/warlords.profile.tsx
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/src/components/Header/Header.tsx
  apps/discord-bot/src/components/Historical/Historical-Header.tsx
  apps/discord-bot/src/constants.ts
  apps/discord-bot/src/lib/format-position.ts
  apps/discord-bot/src/themes/boxes/index.ts
  apps/discord-bot/src/themes/palette.ts
  apps/discord-bot/src/themes/renderer.ts
  apps/scripts/package.json
  apps/scripts/src/api-key.js
  apps/scripts/src/purge.js
  apps/scripts/src/rank-emojis.js
  apps/site/package.json
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/assets/src/index.ts
  packages/discord/package.json
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/command/command.builder.ts
  packages/discord/src/command/command.loader.ts
  packages/discord/src/messages/components/button.builder.ts
  packages/discord/src/messages/components/select-menu.builder.ts
  packages/discord/src/messages/localize.ts
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/math/src/index.ts
  packages/rendering/package.json
  packages/rendering/src/components/Text.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/util.ts
  packages/schemas/package.json
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/metadata/field/get-store-metadata.ts
  packages/schemas/src/player/util.ts
  packages/schemas/src/user/index.ts
  yarn.lock
Labels: api, discord-bot, scripts, site, @statsify/assets, @statsify/discord, @statsify/rendering, @statsify/logger, @statsify/math, @statsify/schemas, verify-server, @statsify/api-client, support-bot

#463 chore(deps): remove chartjs because it is unused
  apps/support-bot/package.json
  apps/support-bot/src/services/hypixel-status.service.ts
  apps/support-bot/src/services/index.ts
  yarn.lock
Labels: support-bot

#473 style(unicorn): disable unicorn/switch-case-braces
  .eslintrc
  apps/api/src/leaderboards/leaderboard.service.ts
  apps/api/tests/mocks/index.ts
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/discord-bot/src/commands/blitzsg/blitzsg.profile.tsx
  apps/discord-bot/src/commands/challenges/challenges.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/guild/guild.profile.tsx
  apps/discord-bot/src/commands/minecraft/cape.command.ts
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/commands/speeduhc/speeduhc.profile.tsx
  apps/discord-bot/src/commands/warlords/warlords.profile.tsx
  apps/discord-bot/src/components/Footer.tsx
  apps/discord-bot/src/components/Historical/Historical-Header.tsx
  apps/discord-bot/src/constants.ts
  apps/discord-bot/src/lib/format-position.ts
  apps/discord-bot/src/themes/boxes/index.ts
  apps/discord-bot/src/themes/palette.ts
  apps/discord-bot/src/themes/renderer.ts
  apps/scripts/src/api-key.js
  apps/scripts/src/purge.js
  packages/assets/src/index.ts
  packages/discord/src/command/abstract-command.listener.ts
  packages/logger/src/index.ts
  packages/rendering/src/components/Text.ts
  packages/rendering/src/jsx/render.ts
  packages/rendering/src/jsx/util.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/schemas/src/player/gamemodes/vampirez/life.ts
  packages/schemas/src/player/util.ts
  packages/schemas/src/user/index.ts
Labels: api, discord-bot, scripts, @statsify/assets, @statsify/discord, @statsify/rendering, @statsify/logger, @statsify/schemas

#383 feat(guild): add gexp positions
  apps/discord-bot/src/commands/guild/gexp.table.tsx
  apps/discord-bot/src/commands/guild/guild-member.profile.tsx
  locales/en-US/default.json
Labels: discord-bot
