Repository Statsify/statsify, pull requests merged in 2023-01, with the labels that each got.

#479 fix(leaderboards): guild, parkour, & quests leaderboard metadata
  apps/api/src/historical/historical.service.ts
  apps/scripts/src/limit-redis.js
  packages/schemas/src/guild/index.ts
  packages/schemas/src/guild/member.ts
  packages/schemas/src/metadata/field/get-leaderboard-metadata.ts
  packages/schemas/src/player/gamemodes/parkour/index.ts
  packages/schemas/src/player/gamemodes/quests/index.ts
  packages/schemas/src/player/gamemodes/quests/util.ts
  packages/schemas/src/player/stats.ts
Labels: api, scripts, @statsify/schemas

#482 fix(pit): correctly check pres xp reqs
  packages/schemas/src/player/gamemodes/pit/index.ts
  packages/schemas/src/player/gamemodes/pit/util.ts
Labels: @statsify/schemas

#481 fix(historical-lbs): fix the premium condition
  apps/discord-bot/src/commands/leaderboards/player-leaderboard.command.ts
Labels: discord-bot

#484 feat(sessions): add ability to get session stats
  apps/api/src/dtos/historical.dto.ts
  apps/api/src/dtos/reset-player.dto.ts
  apps/api/src/historical/historical.controller.ts
  apps/api/src/historical/historical.module.ts
  apps/api/src/historical/historical.service.ts
  apps/api/src/historical/models/index.ts
  apps/api/src/historical/models/session.model.ts
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/historical/historical.base.tsx
  apps/discord-bot/src/commands/historical/session.command.tsx
  apps/discord-bot/src/commands/quests/quests.profile.tsx
  apps/discord-bot/src/commands/reset.command.ts
  apps/discord-bot/src/components/Header/Header.tsx
  apps/discord-bot/src/components/Historical/Historical-Header.tsx
  apps/discord-bot/src/components/Historical/Historical-Progression.tsx
  apps/scripts/package.json
  apps/scripts/src/delete-sessions.js
  locales/en-US/default.json
  packages/api-client/src/api.service.ts
  packages/api-client/src/types/historical-types.ts
  packages/discord/src/services/api.service.ts
  packages/schemas/src/player/index.ts
Labels: api, discord-bot, scripts, @statsify/discord, @statsify/schemas, @statsify/api-client
