Repository Statsify/statsify, pull requests merged in 2023-04, with the labels that each got.

#515 feat: update designs for april fools
  apps/api/src/guild/guild.service.ts
  apps/api/src/historical/leaderboards/historical-leaderboard.service.ts
  apps/api/src/player/leaderboards/player-leaderboard.service.ts
  apps/api/src/player/player.service.ts
  apps/api/src/skin/skin.service.ts
  apps/discord-bot/src/commands/guild/guild.command.tsx
  apps/discord-bot/src/components/Header/Header.tsx
  apps/discord-bot/src/components/List.tsx
  apps/discord-bot/src/components/Sidebar.tsx
  apps/discord-bot/src/components/Table/TableRow.tsx
  packages/util/src/april-fools-color.ts
  packages/util/src/april-fools.ts
  packages/util/src/index.ts
Labels: api, discord-bot, @statsify/util

#518 fix(woolwars): remove extra characters from prestige icons
  packages/schemas/src/player/gamemodes/woolwars/util.ts
Labels: @statsify/schemas

#517 feat(skywars): update and add new SkyWars prestiges
  packages/schemas/src/player/gamemodes/skywars/util.ts
Labels: @statsify/schemas

#519 feat(events): add easter event stats
  apps/discord-bot/src/commands/events/events.profile.tsx
  packages/schemas/src/player/gamemodes/general/events.ts
Labels: discord-bot, @statsify/schemas
