Repository Statsify/statsify, pull requests merged in 2023-02, with the labels that each got.

#483 fix(pit): added correct level display
  packages/schemas/src/player/gamemodes/pit/util.ts
Labels: @statsify/schemas

#491 fix(friends): remove friends and related commands
  apps/api/src/hypixel/hypixel.service.ts
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.module.ts
  apps/api/src/player/player.service.ts
  apps/api/tests/mocks/hypixel.mock.ts
  apps/api/tests/mocks/player.mock.ts
  apps/api/tests/player.spec.ts
  apps/discord-bot/src/commands/friends/friends.command.tsx
  apps/discord-bot/src/commands/friends/friends.profile.tsx
  apps/discord-bot/src/commands/friends/mutuals.command.tsx
  apps/discord-bot/src/commands/friends/mutuals.profile.tsx
  apps/discord-bot/src/commands/general/general.command.tsx
  apps/discord-bot/src/commands/general/general.profile.tsx
  apps/site/pages/index.tsx
  locales/bg/default.json
  locales/cs/default.json
  locales/da/default.json
  locales/de/default.json
  locales/el/default.json
  locales/en-US/default.json
  locales/es-ES/default.json
  locales/fi/default.json
  locales/fr/default.json
  locales/hi/default.json
  locales/hr/default.json
  locales/hu/default.json
  locales/it/default.json
  locales/ja/default.json
  locales/ko/default.json
  locales/lt/default.json
  locales/nl/default.json
  locales/no/default.json
  locales/pl/default.json
  locales/pt-BR/default.json
  locales/ro/default.json
  locales/ru/default.json
  locales/sv-SE/default.json
  locales/th/default.json
  locales/tr/default.json
  locales/uk/default.json
  locales/vi/default.json
  locales/zh-CN/default.json
  locales/zh-TW/default.json
  packages/api-client/src/api.service.ts
  packages/api-client/src/exceptions/friends.404.ts
  packages/api-client/src/exceptions/index.ts
  packages/api-client/src/responses/get.friends.response.ts
  packages/api-client/src/responses/index.ts
  packages/discord/src/services/api.service.ts
  packages/schemas/src/friends/friend.ts
  packages/schemas/src/friends/index.ts
  packages/schemas/src/index.ts
Labels: api, discord-bot, site, @statsify/discord, @statsify/schemas, @statsify/api-client

#507 fix: rounding of prefixes that aren't multiples of 10
  apps/discord-bot/src/commands/megawalls/megawalls.command.tsx
  packages/schemas/src/player/gamemodes/prefixes.ts
Labels: discord-bot, @statsify/schemas
