Repository Statsify/statsify, pull requests merged in 2024-02, with the labels that each got.

#610 feat: rename coins -> tokens and remove loot chests
  apps/discord-bot/src/commands/bedwars/bedwars.profile.tsx
  apps/discord-bot/src/commands/duels/bridge.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/murdermystery/murdermystery.profile.tsx
  apps/discord-bot/src/commands/skywars/skywars.profile.tsx
  packages/schemas/src/player/gamemodes/bedwars/index.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/murdermystery/index.ts
  packages/schemas/src/player/gamemodes/skywars/index.ts
  packages/skin-renderer/Cargo.toml
Labels: discord-bot, @statsify/schemas, @statsify/skin-renderer

#614 fix(megawalls): fix megawalls playtime
  packages/schemas/src/player/gamemodes/megawalls/kit.ts
Labels: @statsify/schemas

#616 fix(megawalls): inconsistencies in overall class points
  packages/schemas/src/player/gamemodes/megawalls/index.ts
  packages/skin-renderer/index.cjs
Labels: @statsify/schemas, @statsify/skin-renderer
