Repository Statsify/statsify, pull requests merged in 2024-08, with the labels that each got.

#653 fix(tkr): enable turbo kart racers gp tokens leaderboard
  packages/schemas/src/player/gamemodes/turbokartracers/index.ts
Labels: @statsify/schemas

#656 chore(node): upgrade to node 22.6.0
  .github/workflows/ci.yml
  .nvmrc
  README.md
  apps/api/package.json
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/math/package.json
  packages/rendering/package.json
  packages/schemas/package.json
  pnpm-lock.yaml
Labels: api, discord-bot, scripts, site, @statsify/assets, @statsify/discord, @statsify/rendering, @statsify/logger, @statsify/math, @statsify/schemas, verify-server, @statsify/api-client, support-bot

#657 chore(deps): upgrade to typescript 5.5.4
  apps/site/package.json
  package.json
  pnpm-lock.yaml
Labels: site

#660 chore(deps): upgrade to swc 1.7
  .swcrc
  .vscode/settings.json
  apps/api/package.json
  apps/discord-bot/.swcrc
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  apps/support-bot/.swcrc
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/assets/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/math/package.json
  packages/rendering/.swcrc
  packages/rendering/package.json
  packages/schemas/package.json
  packages/util/package.json
  pnpm-lock.yaml
Labels: api, discord-bot, scripts, site, @statsify/assets, @statsify/discord, @statsify/rendering, @statsify/logger, @statsify/math, @statsify/schemas, @statsify/util, verify-server, @statsify/api-client, support-bot

#661 chore(deps): upgrade to vitest 2.0
  package.json
  packages/discord/src/command/command.builder.ts
  packages/discord/src/messages/embed.ts
  packages/logger/src/index.ts
  packages/math/src/index.ts
  packages/rendering/tests/index.spec.tsx
  packages/rendering/vitest.config.ts
  packages/schemas/src/metadata/deserialize.ts
  packages/schemas/src/metadata/metadata-scanner.ts
  packages/schemas/src/metadata/serialize.ts
  packages/util/src/flatten.ts
  packages/util/src/unflatten.ts
  packages/util/src/util.ts
  pnpm-lock.yaml
  vitest.shared.ts
Labels: @statsify/discord, @statsify/rendering, @statsify/logger, @statsify/math, @statsify/schemas, @statsify/util

#662 chore(deps): update non-major dependencies
  .vscode/settings.json
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/site/package.json
  apps/support-bot/package.json
  apps/verify-server/package.json
  package.json
  packages/api-client/package.json
  packages/discord/package.json
  packages/logger/package.json
  packages/rendering/package.json
  packages/schemas/package.json
  packages/skin-renderer/index.cjs
  pnpm-lock.yaml
  turbo.json
Labels: api, discord-bot, scripts, site, @statsify/discord, @statsify/rendering, @statsify/logger, @statsify/schemas, verify-server, @statsify/api-client, support-bot, @statsify/skin-renderer

#664 chore(deps): update tiny-discord
  apps/discord-bot/package.json
  apps/scripts/package.json
  apps/support-bot/package.json
  packages/discord/package.json
  packages/discord/src/command/abstract-command.listener.ts
  packages/discord/src/interaction/interaction.ts
  packages/discord/src/services/member.service.ts
  packages/discord/src/util/parse-discord-error.ts
  pnpm-lock.yaml
Labels: discord-bot, scripts, @statsify/discord, support-bot

#665 fix(api): attempt to use cached skins if mojang api fails
  apps/api/src/skin/skin.service.ts
Labels: api

#672 Feat/tommy innit rank
  locales/en-US/emojis.json
  packages/schemas/src/player/util.ts
Labels: @statsify/schemas

#669 feat(duels): add current kit and shots fired to sidebar
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/player/gamemodes/duels/mode.ts
Labels: discord-bot, @statsify/schemas

#678 feat: revamp arcade/party games stats and add /partygames
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/discord-bot/src/commands/arcade/modes/dropper-maps.tsx
  apps/discord-bot/src/commands/arcade/modes/party-games.tsx
  apps/discord-bot/src/commands/arcade/party-game.profile.tsx
  apps/discord-bot/src/commands/arcade/party-games.command.tsx
  apps/discord-bot/src/components/Table/TableData.tsx
  apps/discord-bot/src/constants.ts
  locales/bg/default.json
  locales/cs/default.json
  locales/da/default.json
  locales/de/default.json
  locales/el/default.json
  locales/en-US/default.json
  locales/es-ES/default.json
  locales/fi/default.json
  locales/fr/default.json
  locales/hi/default.json
  locales/hr/default.json
  locales/hu/default.json
  locales/it/default.json
  locales/ja/default.json
  locales/ko/default.json
  locales/lt/default.json
  locales/nl/default.json
  locales/no/default.json
  locales/pl/default.json
  locales/pt-BR/default.json
  locales/ro/default.json
  locales/ru/default.json
  locales/sv-SE/default.json
  locales/th/default.json
  locales/tr/default.json
  locales/uk/default.json
  locales/vi/default.json
  locales/zh-CN/default.json
  locales/zh-TW/default.json
  packages/schemas/src/game/game.ts
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/arcade/mode.ts
Labels: discord-bot, @statsify/schemas

#680 fix: rearrange hide and seek stats
  apps/discord-bot/src/commands/arcade/modes/hide-and-seek.tsx
Labels: discord-bot

#686 feat: add /ratios pit
  apps/discord-bot/src/commands/ratios/ratios.command.tsx
  apps/discord-bot/src/commands/ratios/ratios.profile.tsx
  apps/discord-bot/src/constants.ts
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/pit/index.ts
Labels: discord-bot, @statsify/discord, @statsify/schemas

#687 feat: add sheep killed to sheep wars stats
  apps/discord-bot/src/commands/woolgames/woolgames.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/woolgames/index.ts
  packages/schemas/src/player/gamemodes/woolgames/sheepwars.ts
  packages/schemas/src/player/stats.ts
Labels: discord-bot, @statsify/schemas

#684 feat: consolidate /recentgames, /dropper, /partygames and /bridge
  apps/api/src/player/player.controller.ts
  apps/api/src/player/player.service.ts
  apps/discord-bot/src/commands/arcade/arcade.profile.tsx
  apps/discord-bot/src/commands/arcade/dropper.command.tsx
  apps/discord-bot/src/commands/arcade/dropper.profile.tsx
  apps/discord-bot/src/commands/arcade/modes/dropper-maps.tsx
  apps/discord-bot/src/commands/arcade/modes/dropper.tsx
  apps/discord-bot/src/commands/arcade/modes/index.tsx
  apps/discord-bot/src/commands/arcade/modes/party-games.tsx
  apps/discord-bot/src/commands/arcade/party-game.profile.tsx
  apps/discord-bot/src/commands/arcade/party-games.command.tsx
  apps/discord-bot/src/commands/base.hypixel-command.ts
  apps/discord-bot/src/commands/deprecated/bridge.command.tsx
  apps/discord-bot/src/commands/deprecated/daily.command.tsx
  apps/discord-bot/src/commands/deprecated/dropper.command.tsx
  apps/discord-bot/src/commands/deprecated/historical.base.tsx
  apps/discord-bot/src/commands/deprecated/lastDay.command.tsx
  apps/discord-bot/src/commands/deprecated/lastMonth.command.tsx
  apps/discord-bot/src/commands/deprecated/lastWeek.command.tsx
  apps/discord-bot/src/commands/deprecated/monthly.command.tsx
  apps/discord-bot/src/commands/deprecated/recentgames.command.tsx
  apps/discord-bot/src/commands/deprecated/weekly.command.tsx
  apps/discord-bot/src/commands/deprecated/yesterday.command.tsx
  apps/discord-bot/src/commands/duels/bridge.command.tsx
  apps/discord-bot/src/commands/duels/bridge.profile.tsx
  apps/discord-bot/src/commands/duels/duels.profile.tsx
  apps/discord-bot/src/commands/duels/tables/bridge-duels.table.tsx
  apps/discord-bot/src/commands/historical/session.command.tsx
  apps/discord-bot/src/commands/recentgames/recentgames.command.tsx
  apps/discord-bot/src/commands/recentgames/recentgames.profile.tsx
  apps/discord-bot/src/commands/status/status.command.tsx
  apps/discord-bot/src/commands/status/status.profile.tsx
  apps/discord-bot/src/components/Historical/Exclude.tsx
  apps/discord-bot/src/components/Historical/Header.tsx
  apps/discord-bot/src/components/Historical/Include.tsx
  apps/discord-bot/src/components/Historical/Progression.tsx
  apps/discord-bot/src/components/Historical/index.ts
  apps/discord-bot/src/constants.ts
  locales/en-US/default.json
  locales/en-US/emojis.json
  packages/api-client/src/api.service.ts
  packages/api-client/src/exceptions/index.ts
  packages/api-client/src/exceptions/recentgames.404.ts
  packages/api-client/src/responses/get.recentgames.response.ts
  packages/api-client/src/responses/index.ts
  packages/discord/src/command/command.context.ts
  packages/discord/src/services/api.service.ts
  packages/discord/src/services/paginate.service.ts
  packages/schemas/src/game/game.ts
  packages/schemas/src/index.ts
  packages/schemas/src/player/gamemodes/arcade/index.ts
  packages/schemas/src/player/gamemodes/duels/index.ts
  packages/schemas/src/recentgames/index.ts
  packages/schemas/src/status/index.ts
  packages/schemas/src/status/recent-game.ts
Labels: api, discord-bot, @statsify/discord, @statsify/schemas, @statsify/api-client

#685 feat: revamp /tntgames and add more stats for each mode
  apps/discord-bot/src/commands/historical/session.command.tsx
  apps/discord-bot/src/commands/tntgames/tntgames.command.tsx
  apps/discord-bot/src/commands/tntgames/tntgames.profile.tsx
  apps/discord-bot/src/constants.ts
  locales/en-US/default.json
  packages/discord/src/services/paginate.service.ts
  packages/schemas/src/player/gamemodes/prefixes.ts
  packages/schemas/src/player/gamemodes/tntgames/index.ts
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
  packages/schemas/src/player/gamemodes/woolgames/woolwars.ts
Labels: discord-bot, @statsify/discord, @statsify/schemas

#681 feat: add more in-depth warlords mode and class stats
  apps/discord-bot/src/commands/warlords/tables/capture-the-flag.table.tsx
  apps/discord-bot/src/commands/warlords/tables/classes.table.tsx
  apps/discord-bot/src/commands/warlords/tables/deathmatch.table.tsx
  apps/discord-bot/src/commands/warlords/tables/domination.table.tsx
  apps/discord-bot/src/commands/warlords/tables/index.ts
  apps/discord-bot/src/commands/warlords/tables/overall.table.tsx
  apps/discord-bot/src/commands/warlords/warlords.profile.tsx
  locales/en-US/default.json
  packages/schemas/src/player/gamemodes/warlords/class.ts
  packages/schemas/src/player/gamemodes/warlords/index.ts
  packages/schemas/src/player/gamemodes/warlords/mode.ts
Labels: discord-bot, @statsify/schemas

#688 feat(discord-bot): update deprecated command descriptions
  apps/discord-bot/src/commands/deprecated/bridge.command.tsx
  apps/discord-bot/src/commands/deprecated/dropper.command.tsx
  apps/discord-bot/src/commands/deprecated/recentgames.command.tsx
Labels: discord-bot

#689 feat(discord-bot): update deprecated command messages
  apps/discord-bot/src/commands/deprecated/bridge.command.tsx
  apps/discord-bot/src/commands/deprecated/dropper.command.tsx
  apps/discord-bot/src/commands/deprecated/recentgames.command.tsx
Labels: discord-bot

#690 fix: parkour command and interaction server issues
  apps/discord-bot/src/index.ts
  packages/discord/src/command/abstract-command.listener.ts
  packages/schemas/src/player/gamemodes/parkour/index.ts
Labels: discord-bot, @statsify/discord, @statsify/schemas

#691 fix(verify-server): disable online mode
  apps/verify-server/src/index.ts
Labels: verify-server

#692 fix(leaderboards): party games best time and woolgames level lb
  packages/schemas/src/player/gamemodes/arcade/mode.ts
  packages/schemas/src/player/gamemodes/woolgames/index.ts
Labels: @statsify/schemas

#694 fix(verify-server): use mc-protocol fork for node 22 compat
  apps/verify-server/package.json
  apps/verify-server/src/index.ts
  pnpm-lock.yaml
Labels: verify-server
