Repository Statsify/statsify, pull requests merged in 2025-01, with the labels that each got.

#728 feat(discord-bot): new build battle theme list
  apps/discord-bot/words.json
Labels: discord-bot, @statsify/schemas

#730 fix: prevent box overlay from rendering twice
  apps/discord-bot/src/themes/boxes/hd.box.ts
  apps/discord-bot/src/themes/boxes/uhd.box.ts
  packages/rendering/src/intrinsics/Box.ts
Labels: discord-bot, @statsify/rendering

#734 fix(arenabrawl): correct cooperation challenge stats
  packages/schemas/src/player/gamemodes/challenges/modes/arenabrawl.ts
Labels: @statsify/schemas

#733 fix(tntgames): convert wizards air time from ticks to ms
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
Labels: @statsify/schemas

#731 fix(tntgames): storm wizard and arcane wizard stats
  packages/schemas/src/player/gamemodes/tntgames/index.ts
  packages/schemas/src/player/gamemodes/tntgames/mode.ts
Labels: @statsify/schemas
